export(calc_gfc_tiles)
export(download_tiles)
export(gen_grid)
export(gen_stack)
export(gfc_animate)
export(gfc_extract)
export(gfc_smoothed)
export(gfc_table)
export(utm_zone)
import(animation)
import(ggplot2)
import(methods)
import(raster)
import(rgdal)
importFrom(RCurl,getURL)
importFrom(grid,unit)
importFrom(plyr,join)
importFrom(rasterVis,gplot)
importFrom(rgeos,gBuffer)
importFrom(rgeos,gCentroid)
importFrom(rgeos,gIntersects)
importFrom(rgeos,gUnaryUnion)
importFrom(sp,"proj4string<-")
importFrom(sp,CRS)
importFrom(sp,GridTopology)
importFrom(sp,Spatial)
importFrom(sp,SpatialGrid)
importFrom(sp,bbox)
importFrom(sp,coordinates)
importFrom(sp,proj4string)
importFrom(sp,spTransform)
importFrom(stringr,str_extract)
importFrom(tools,file_ext)
