export(calc_gfc_tiles)
export(download_tiles)
export(utm_zone)
import(methods)
import(sp)
importFrom(rgeos,gCentroid)
importFrom(sp,Spatial)
importFrom(sp,coordinates)
importFrom(sp,spTransform)
importFrom(stringr,str_extract)
